@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

.logo {
    height: 3.875rem;
}

.school {
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

.nav-container {
    max-width: 1440px;
    max-height: 11.625rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 102px;
    border: none;
}

.nav-bar {
    background-color: #F8F9FA;
    box-shadow: none;
    border: none;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
}

.nav-links .home {
    color: #FF9500;
    font-size: 1.25rem;
    font-weight: bold;
}

.nav-links .about {
    color: #00B4D8;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-links .facilities {
    color: #00D1C7;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-links .admission {
    color: #7C3AED;
    font-size: 1.25rem;
    font-weight: 500;
}

.contact-btn {
    background: #ff9500;
    color: white;
    padding: 1rem 3.78rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 500;
}

.contact-btn:hover {
    background: #ff8500;
}

.banner-section {
    background-color: #F8F9FA;
    padding: .5rem 0;
}

.banner-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.banner-content {
    flex: 1;
}

.banner-content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.high-orange {
    color: #FF9500;
}

.high-blue {
    color: #00B4D8;
}

.banner-text {
    font-size: 1.25rem;
    color: #111111;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.enroll-btn {
    background-color: #000;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 2.8rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.banner-image {
    max-height: 575px;
    max-width: 468px;
    flex: 1;
}

.banner-image img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.mobile-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.curriculum {
    padding: 4rem 0;
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: center;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.curr-cards {
    max-width: 90rem;
    max-height: 54.93rem;
    margin: 0 auto;
    padding: 0 6.37rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.card {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    flex: 1;
    max-width: 22.93rem;
    max-height: 30rem;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-kinder {
    background: linear-gradient(to bottom, #DEF5FF, #FAFAFF);
}

.card-elementary {
    background: linear-gradient(to bottom, #FFF4DC, #FAFAFF);
}

.card-middle {
    background: linear-gradient(to bottom, #F8E8FF, #FAFAFF);
}

.card-image {
    width: 120px;
    height: 120px;
    margin-bottom: 1.5rem;
}

.card h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.card p {
    color: #666;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.read-more {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.blue-shade {
    color: #64C8FF;
}

.orange-shade {
    color: #F0AA00;
}

.purple-shade {
    color: #8700FF;
}

.arrow-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.arrow-btn {
    font-size: 1.5rem;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #FF9500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.arrow-btn:hover {
    background: #FEA301;
}

.stories {
    padding: 4rem 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFF4DC 100%);
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: center;
}

.stories-container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 102px;
    display: flex;
    gap: 2rem;
}

.cards-right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    height: 630px;
}

.story-card,
.card-left {
    position: relative;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.story-card img,
.card-left img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0 0;
}

.story-content {
    padding: 2rem 1.5rem 1.5rem;
    background: white;
}

.story-content h3 {
    font-size: 1.125rem;
    color: #000;
    font-weight: 500;
}

.date {
    position: absolute;
    left: 2rem;
    transform: translateY(-50%);
    border: none;
    color: white;
    font-size: 1rem;
    margin-top: -2rem;
    padding: 10px 24px;
    border-radius: 50px;
    cursor: pointer;
}


.card-left {
    flex: 1;
    height: 630px;
}

.card-left img {
    height: 400px;
}

.story-card {
    display: flex;
    flex-direction: column;
}

.story-card img {
    height: 200px;
}

.card-left .date {
    background: #3CD8E8;
}

.story-card:nth-child(1) .date {
    background: #95B226;
}

.story-card:nth-child(2) .date {
    background: #5D58F0;
}

.story-card:nth-child(3) .date {
    background: #95B226;
}

.story-card:nth-child(4) .date {
    background: #95B226;
}

.card-left p {
    color: #666;
    line-height: 1.6;
    margin-top: 0.5rem;
}

.view-all-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.view-all-btn {
    background: #000;
    color: white;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .nav-container {
        padding: 1rem 1.5rem;
        height: auto;
        border-bottom: 1px solid #FF9500;
    }

    .mobile-menu {
        display: block;
    }

    .nav-links,
    .contact-btn,
    .school {
        display: none;
    }

    .logo {
        height: 2.6rem;
    }

    .arrow-btn {
        display: none;
    }
    .nav-container {
        justify-content: space-between;
        align-items: center;
    }

    .banner-container {
        flex-direction: column;
        padding: 1rem 1.5rem;
        text-align: center;
        gap: 2rem;
    }

    .banner-content h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .banner-text {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .banner-image {
        order: -1;
        max-width: 100%;
        padding: 0 1rem;
    }

    .banner-image img {
        width: 100%;
        height: auto;
        border-radius: 2rem;
    }

    .enroll-btn {
        padding: 0.875rem 2rem;
        font-size: 1rem;
    }

    .curr-cards {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }

    .card {
        width: 92%;
        max-width: none;
    }

    .section-title {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .stories-container {
        padding: 0 1.5rem;
    }

    .card-left {
        display: none;
    }

    .cards-right {
        flex: 1;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .story-card img {
        height: 150px;
    }

    .story-content {
        padding: 1rem;
    }

    .story-content h3 {
        font-size: 1rem;
    }

    .date {
        position: relative;
        left: 2rem;
        transform: translateY(-50%);
        border: none;
        color: white;
        font-size: 1rem;
        margin-top: -1.8rem;
        padding: 10px 24px;
        border-radius: 50px;
        cursor: default;
    }
}
